<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @user.name %>!</h1>
    <p>
      Your place is now confirmed for the run on: <%= @run.starting_at %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>